extends blocks/_layout
append content
	-
		var catalog = [
			'Автосвет',
			'Светодиодные лампы',
			'Автотовары YASHA',
			'Ароматизаторы',
			'АвтоЭлектроника',
			'Уход за автомобилем',
			'Интструмент',
			'Щетки стеклоочистителя',
			'Автохимия',
			'Ксенон',
			'Свет автомобильный',
			'АвтоАксессуары',
			'Световое оборудование',
			'Хомуты, изолента, скотч',
			'Принадлежности для шиномонтажа',
		];

		var subCatalog = [
			'Аксессуары автомобильные',
			'Оплетки рулевого колеса',
			'Чехлы и накидки на сидения, поддержка поясничная',
			'Ю.Корея АUTOBAN Аксессуары',
		]

		var news = [
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			},
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			},
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			}
		];

		var nav = [
			'Главная',
			'О компании',
			'Бренды',
			'Клиентам',
			'Акции',
			'Контакты',
			'Новости'
		];

		var contacts = [
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
			{
				image: '../img/no-photo.png',
				name: 'Андрейчева Наталья Сергеевна',
				position: 'Руководитель отдела продаж',
				number: '8–495–22-33-55-4 доб.112',
				numberLink: 'tel:8–495–22-33-55-4',
				numberIco: '../img/phone-ico.svg',
				email: 'natalya@oooberu.ru',
				emailLink: 'mailto:natalya@oooberu.ru',
				emailIco: '../img/email-ico.svg',
				skype: 'nata2233554',
				skypeLink: 'skype:nata2233554',
				skypeIco: '../img/skype-ico.svg',
				icq: '381-122-234',
				icqLink: 'tel:381-122-234',
				icqIco: '../img/icq-ico.svg',
			},
		];
	main.main
		.main__content
			.main__left-content
				.left-content-container
					.left-containe-logo
						a(href="")
							img.logo-img(src="img/logo.png", alt="Logo")
							span.logo-text Торговый дом «Беру»
					.left-container-catalog
						h3.title Каталог
						ul.catalog-list
							each item in catalog
								li.catalog-list-item
									a.catalog-item-link(href="")
										span=item
										img(src="img/catalog-item-arr.png", alt="")
					.left-container-news
						h3.title Новости
						.news-list
							each item in news
								.news-item
									a.news-item__img(href="")
										img(src=item.img, alt=item.name)
									a.news-item__name(href="")=item.name
									a.news-item__date(href="")=item.date
							a.show-all-news-btn(href="") Все новости
			.main__right-content
				.right-content__header.right-container
					.mobile-menu
						button.hamburger.hamburger--slider(type="button")
							span.hamburger-box
								span.hamburger-inner
								span Меню
					.content-header-search.big-search
						form(action="")
							input.seach-input(type="text" placeholder="Поиск по сайту")
							button.search-btn
								img(src="img/search-ico.png", alt="Search ico")
				.mobile-catalog-section.right-container
					.mobile-catalog
						h3.title Каталог
						ul.mobile-catalog-list
							each item in catalog
								li.mobile-catalog-list-item
									.mobile-catalog-item-block
										a.mobile-catalog-item-link(href="")=item
										.mobile-catalog-item-img
											img(src="img/catalog-item-arr.png", alt="")
									ul.mobile-catalog-sub-list
										each item in subCatalog
											li.mobile-catalog-sub-list-item
												a(href="")=item
				.right-content__breadcrumbs
					ul(class="breadcrumb-list")
						li(class="breadcrumb-item")
							a(class="breadcrumb-link" href="") Главная /
						li(class="breadcrumb-item current")
							a(class="breadcrumb-link" href="") Контакты
				.change-background
					.right-content__main-content.right-container
						h1(class="pages-title") Контакты
						.contacts-content
							.contacts-content__list
								each item in contacts
									.contact-item
										.contact-item__image
											img(src=item.image, alt=item.name)
										.contact-item__info
											p(class="contact-item__info-name")=item.name
											p(class="contact-item__info-position")=item.position
											a(href=item.numberLink class="contact-item__info-block")
												.contact-item-icon
													img(src=item.numberIco, alt="")
												span(class="contact-item-info-text")=item.number
											a(href=item.emailLink class="contact-item__info-block")
												.contact-item-icon
													img(src=item.emailIco, alt="")
												span(class="contact-item-info-text")=item.email
											a(href=item.skypeLink class="contact-item__info-block")
												.contact-item-icon
													img(src=item.skypeIco, alt="")
												span(class="contact-item-info-text")=item.skype
											a(href=item.scqLink class="contact-item__info-block")
												.contact-item-icon
													img(src=item.icqIco, alt="")
												span(class="contact-item-info-text")=item.icq

							h1(class="pages-title") Напишите нам
							.contacts-content__form
								form(action="" id="contact_form")
									.contacts-content__form-inputs
										.label
											input(type="text" name="name" class="input")
											label(for="name" class="dynamic-label") Ваше имя
												span *
										.label
											input(type="text" name="phone" class="input" id="cont-phone")
											label(for="phone" class="dynamic-label") Ваш телефон
												span *
										.label
											input(type="text" name="email" class="input" id="mail")
											label(for="e-mail" class="dynamic-label") Ваш e-mail
												span *
									.contacts-content__form-textarea
										.label
											textarea(name="mess" class="input")
											label(for="message" class="dynamic-label") Ваше сообщение
												span *
									.contacts-content__form-checkbox
										label(for="", class="styled-checkbox")
											input(type="checkbox" class="checkbox-default" name="check")
											span(class="checkbox-custom")
											span(class="checbox-custom-text") Согласие на сбор и обработку личных данных, а также согласие с правилами конфеденциальности и политикой безопасности
									button#submit-contact(class="send-msg-btn" type="submit") Отправить сообщение
				.right-content-subscription
					.content-subscription.right-container
						span.right-content-subscription-text Подписаться на новостную рассылку
						form.right-content-subscription-form(action="")
							input.subscription-input(type="text" placeholder="Введите свою электроную почту")
							button.subscription-btn 
								img(src="img/red-right-arr.png", alt="Subscription btn")
				.right-content-footer.right-container
					.right-content-footer-sitemap
						h4.title Карта сайта
						.footer-sitemap-block
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Главная
									li
										a(href="") О компании
									li
										a(href="") Бренды
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Клиентам
									li
										a(href="") Акции
									li
										a(href="") Контакты
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Новости
					.right-content-footer-contacts
						h4.title Наш адрес
						p.footer-contacts-text Россия, Москва, Шарикоподшипниковская улица, 38с1м. Дубровка
						p.footer-contacts-text
							span +7 (495)223-35-54
							span Пн-Пт с 08-00 до 17-00