extends blocks/_layout
append content
	-
		var catalog = [
			'Автосвет',
			'Светодиодные лампы',
			'Автотовары YASHA',
			'Ароматизаторы',
			'АвтоЭлектроника',
			'Уход за автомобилем',
			'Интструмент',
			'Щетки стеклоочистителя',
			'Автохимия',
			'Ксенон',
			'Свет автомобильный',
			'АвтоАксессуары',
			'Световое оборудование',
			'Хомуты, изолента, скотч',
			'Принадлежности для шиномонтажа',
		];

		var subCatalog = [
			'Аксессуары автомобильные',
			'Оплетки рулевого колеса',
			'Чехлы и накидки на сидения, поддержка поясничная',
			'Ю.Корея АUTOBAN Аксессуары',
		]

		var news = [
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			},
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			},
			{
				img: 'img/news.jpg',
				name: 'ТД «БЕРУ» на выставке ИНТЕРАВТО 2019',
				date: '19.09.2019',
			}
		];

		var nav = [
			'Главная',
			'О компании',
			'Бренды',
			'Клиентам',
			'Акции',
			'Контакты',
			'Новости'
		];
	main.main
		.main__content
			.main__left-content
				.left-content-container
					.left-containe-logo
						a(href="")
							img.logo-img(src="img/logo.png", alt="Logo")
							span.logo-text Торговый дом «Беру»
					.left-container-catalog
						h3.title Каталог
						ul.catalog-list
							each item in catalog
								li.catalog-list-item
									a.catalog-item-link(href="")
										span=item
										img(src="img/catalog-item-arr.png", alt="")
					.left-container-news
						h3.title Новости
						.news-list
							each item in news
								.news-item
									a.news-item__img(href="")
										img(src=item.img, alt=item.name)
									a.news-item__name(href="")=item.name
									a.news-item__date(href="")=item.date
							a.show-all-news-btn(href="") Все новости
			.main__right-content
				.right-content__header.right-container
					.mobile-menu
						button.hamburger.hamburger--slider(type="button")
							span.hamburger-box
								span.hamburger-inner
								span Меню
					.content-header-search.big-search
						form(action="")
							input.seach-input(type="text" placeholder="Поиск по сайту")
							button.search-btn
								img(src="img/search-ico.png", alt="Search ico")
				.mobile-catalog-section.right-container
					.mobile-catalog
						h3.title Каталог
						ul.mobile-catalog-list
							each item in catalog
								li.mobile-catalog-list-item
									.mobile-catalog-item-block
										a.mobile-catalog-item-link(href="")=item
										.mobile-catalog-item-img
											img(src="img/catalog-item-arr.png", alt="")
									ul.mobile-catalog-sub-list
										each item in subCatalog
											li.mobile-catalog-sub-list-item
												a(href="")=item
				.right-content__breadcrumbs
					ul(class="breadcrumb-list")
						li(class="breadcrumb-item")
							a(class="breadcrumb-link" href="") Главная /
						li(class="breadcrumb-item current")
							a(class="breadcrumb-link" href="") Клиентам
				.change-background
					.right-content__main-content.right-container
						h1(class="pages-title") Клиентам
						.partners-content
							#partners
								.partners-content__tabs
									ul
										li
											a(class="partners-tab active" href="#tab2") Доставка
										li  
											a(class="partners-tab" href="#tab1") Условия сотрудничества 
								.partners-content__description
									.partners-tab-box#tab2
										p(class="partners-tab-text bold") Доставка по Москве бесплатно! 
										p(class="partners-tab-text bold") Предложение действительно при сумме отгрузки не менее 50 000 рублей! 
										p(class="partners-tab-text") Доставка товара в регионы России через Транспортную компанию, осуществляется при сумме отгрузки не менее 50 000 рублей. 
										p(class="partners-tab-text") Вы сами выбираете транспортную компанию, условия и качество работы, которой покажутся Вам наиболее подходящими
											| (цена и сроки доставки, график работы и т.д.). После поступления денег на наш расчетный счет, мы доставим заказ до выбранной Вами 
											| Транспортной компании, после чего Транспортная компания осуществляет доставку до места назначения. 
										p(class="partners-tab-text") Обращаем Ваше внимание, что Вам, как Покупателю, такой вариант доставки наиболее выгоден, так как Вы
											| платите непосредственно транспортной компании, которую выбрали. Более того, при таком способе доставки у Вас есть возможность
											| полностью контролировать ее ход исполнения.
										p(class="partners-tab-text bold") Экономия и удобство очевидны!<br>При заказе до 50 000 рублей – самовывоз.
										a(href="javascript:void(0)" class="partners-tab-text bold link") Скачать договор
											img(src="img/word.svg", alt="Word")
										
									.partners-tab-box#tab1
										p(class="partners-tab-text bold") Фирма осуществляет только оптовые продажи.
										p(class="partners-tab-text bold uppercase") МИНИМАЛЬНАЯ СУММА ЗАКАЗА:
											span 10000 рублей 
										p(class="partners-tab-text bold uppercase") ОФОРМЛЕНИЕ ЗАКАЗА НА НАШЕМ САЙТЕ:
										p(class="partners-tab-text") Вы можете оформить заказ прямо на нашем сайте или связаться с менеджерами по продажам.
										p(class="partners-tab-text") Фирма работает только по безналичному расчету .
										p(class="partners-tab-text") При осуществлении заказа необходимо обговорить с менеджером сумму предстоящего заказа и получить прайс с соответствующей колонкой.
											| В нем, вы оформляете заказ и отправляете его нам. Также необходимо отправить реквизиты.
										p(class="partners-tab-text") При первой поставке отправляется договор, который необходимо заполнить и отправить нам.
										p(class="partners-tab-text bold") Система скидок
										p(class="partners-tab-text") Мы рады предложить Вам гибкую систему скидок и индивидуальный подход.  Подробности обсудите с нашими менеджерами при формировании заказа.
										p(class="partners-tab-text") Документы, необходимые для заключения Договора Поставки.
										p(class="partners-tab-text bold") Юридические лица.
										.partners-tab-list
											p(class="partners-tab-text bold") 1. Реквизиты: 
											ul
												li(class="partners-tab-list-item") - полное наименование 
												li(class="partners-tab-list-item") - организационно правовая форма юридического лица 
												li(class="partners-tab-list-item") - свидетельство о постановке на учет в налоговом органе (ИНН) 
												li(class="partners-tab-list-item") - свидетельство о государственной регистрации юридического лица (ОГРН) 
												li(class="partners-tab-list-item") - КПП 
												li(class="partners-tab-list-item") - ОКОНХ 
												li(class="partners-tab-list-item") - ОКПО 
												li(class="partners-tab-list-item") - юридический адрес 
												li(class="partners-tab-list-item") - фактический адрес (почтовый) 
												li(class="partners-tab-list-item") - контактный телефон 
												li(class="partners-tab-list-item") - Ф.И.О. контактного лица
										.partners-tab-list
											p(class="partners-tab-text bold") 2. Банковские реквизиты:
											ul
												li(class="partners-tab-list-item") - расчетный счет 
												li(class="partners-tab-list-item") - наименование банка 
												li(class="partners-tab-list-item") - корсчет 
												li(class="partners-tab-list-item") - БИК
										.partners-tab-list
											p(class="partners-tab-text bold") 3. Печать предприятия.
										.partners-tab-list
											p(class="partners-tab-text bold") 4. Для представителя от покупателя. 
											ul
												li(class="partners-tab-list-item") - доверенность на заключение договора на официальном бланке с синей печатью и подписью руководителя.
										.partners-tab-list
											p(class="partners-tab-text bold") 5. В случае осуществления доставки: 
											ul
												li(class="partners-tab-list-item") - по Москве: адрес доставки и схема проезда. 
												li(class="partners-tab-list-item") - по России: адрес транспортной компании, схема проезда до транспортной компании. 
												li(class="partners-tab-list-item") - копия договора с транспортной компанией.
										p(class="partners-tab-text bold") Индивидуальный предприниматель.
										.partners-tab-list
											p(class="partners-tab-text bold") 1. Свидетельство о постановке на учет в налоговом органе (ИНН) 
										.partners-tab-list
											p(class="partners-tab-text bold") 2. Cвидетельство о внесении в единый государственный реестр индивидуальных предпринимателей (ОГРН) 
										.partners-tab-list
											p(class="partners-tab-text bold") 3. Паспорт 
										.partners-tab-list
											p(class="partners-tab-text bold") 4. Реквизиты: 
											ul
												li(class="partners-tab-list-item") - юридический адрес 
												li(class="partners-tab-list-item") - фактический адрес (почтовый) 
												li(class="partners-tab-list-item") - контактный телефон 
												li(class="partners-tab-list-item") - Ф.И.О. контактного лица
										.partners-tab-list
											p(class="partners-tab-text bold") 5. При наличии расчетного счета:
											ul
												li(class="partners-tab-list-item") - расчетный счет 
												li(class="partners-tab-list-item") - наименование банка 
												li(class="partners-tab-list-item") - БИК 
												li(class="partners-tab-list-item") - корсчет
							a(class="come-back-btn" href="")
								img(src="img/arrow-left.png", alt="")
								span Вернуться назад
				//- .right-content-subscription
					//- .content-subscription.right-container
					//- 	span.right-content-subscription-text Подписаться на новостную рассылку
					//- 	form.right-content-subscription-form(action="")
					//- 		input.subscription-input(type="text" placeholder="Введите свою электроную почту")
					//- 		button.subscription-btn 
					//- 			img(src="img/red-right-arr.png", alt="Subscription btn")
				.right-content-footer.right-container
					.right-content-footer-sitemap
						h4.title Карта сайта
						.footer-sitemap-block
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Главная
									li
										a(href="") О компании
									li
										a(href="") Бренды
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Клиентам
									li
										a(href="") Акции
									li
										a(href="") Контакты
							.footer-sitemap-block-column
								ul.sitemap-block-column-list
									li
										a(href="") Новости
					.right-content-footer-contacts
						h4.title Наш адрес
						p.footer-contacts-text Россия, Москва, улица Шарикоподшипниковская улица, дом 38 стр1. Станция метро «Дубровка»
						p.footer-contacts-text
							span +7 (495)223-35-54
							span Пн-Пт с 08-00 до 17-00